* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { 
    font-family: sans-serif; 
    
}
  
  .gallery {
    background: transparent;
    margin-top: 200px;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: rgb(2, 3, 50);
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }