/*login style*/
:root {
    --first: #F9F7F7;
    --second:#DBE2EF;
    --third:#3F72AF;
    --fourth:#112D4E;
    --fifth: #fdfdfd62;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background: linear-gradient(91.3deg, rgb(135, 174, 220) 1.5%, rgb(255, 255, 255) 100.3%);
}

.form{
    color: var(--fourth);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: inherit;
    margin-left: 45px;
    margin-top: 200px;
    padding-top: 85px;
    padding-left: 0;
}
.wrapper{
    background-color: var(--fifth);
    width: 400px;
    height: 350px;
    position: relative;
    margin: auto;
    box-shadow: 8px 8px 30px 3px var(--fourth);
}
.title{
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 75px;
    margin-top: -20px;
    color: var(--fourth);
}
.box{
    width: 300px;
    height: 30px;
    position: relative;
    margin-top: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--third);
}
.sign-up-link{
    background-color: var(--third);
    border: solid var(--third) 3px;
    border-radius: 15px;
    color: var(--first);
    max-width: 150px;
    text-align: center;
    position: relative;
    margin-left: 80px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.ask{
    position: relative;
    margin-left: 60px;
    margin-bottom:-15px ;
}
.addbooksbtn,
.btn-log{
    background-color: var(--fourth);
    color: var(--first);
    border: solid 5px var(--fourth);
    border-radius: 15px;
    max-width: 300px;
    font-size: 16px;
    letter-spacing: 1px;
}
.addbooksbtn,
.btn-log a{
    text-decoration: none;
    background-color: transparent;
    border: transparent;
}
.addbooksbtn,
.btn-log:hover {
    background-color: #1c406a;
    border-color: #1c406a;
}

.sign-up-link:hover{
    background-color:#5686c0;
    border-color: #5686c0;
}
img{
    position: absolute;
    margin-left: 152px;
    margin-top: -50px;
    z-index: 2;
}

/*sign up style*/
.title2{
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
    margin-left: 55px;
    margin-top: -20px;
    color: var(--fourth);
}
.wrapper2{
    background-color: var(--fifth);
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
    box-shadow: 8px 8px 30px 3px var(--fourth);
}
.btn-submit{
    background-color: var(--fourth);
    color: var(--first);
    border: solid 5px var(--fourth);
    border-radius: 15px;
    max-width: 300px;
    font-size: 16px;
    letter-spacing: 1px;
}
.btn-submit:hover{
    background-color: #1c406a;
    border-color: #1c406a;
}
::placeholder{
    color: #1c406a;
    opacity: 0.6;
}
.login-link{
    background-color: var(--third);
    border: solid var(--third) 3px;
    border-radius: 15px;
    color: var(--first);
    max-width: 150px;
    text-align: center;
    position: relative;
    margin-left: 80px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.login-link:hover{
    background-color:#5686c0;
    border-color: #5686c0;
}
.ask2{
    position: relative;
    margin-left: 65px;
    margin-bottom:-15px ;
    margin-top: 15px;
}
/*error class*/
.box-error{
    border-bottom: 1px solid rgb(167, 0, 0);
}


/*Index section*/
@media only screen and (min-width: 460px){
.intro{
    font-size: 40px;
    position: relative;
    margin-top: 200px;
    margin-left: 300px;
    color: var(--third);
}

.register{
    font-size: 25px;
    text-decoration: none;
    color: var(--second);
    background: linear-gradient(91.3deg, rgb(2, 41, 86) 1.5%, rgb(19, 48, 142) 100.3%);
    padding: 5px;
    border: 2px solid var(--fourth);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
    margin-top: 25px;
    box-shadow: 6px 8px 20px var(--fourth)
    
}
.register:hover{
    background: linear-gradient(91.3deg, rgb(14, 48, 86) 1.5%, rgb(42, 78, 198) 100.3%);
    color: var(--second);
}
.book{
    position: absolute;
    margin-left: 800px;
    margin-top: -550px;
    height: 850px;
}
}
@media only screen and (max-width: 500px){
    .reader{
        margin-left: 35px;
        margin-top: 30px;
    }
    .intro{
        font-size: 35px;
        position: relative;
        margin-top: 20px;
        margin-left: 20px;
        color: var(--third);
    }
    .intro h1{
        line-height: 60px;
        font-size: 60px;
    }
    .intro p{
        margin-top: 10px;
        line-height: 40px;
        font-size: 30px;
    }
    .book{
        position: absolute;
        margin-left: 15px;
        margin-top: 10px;
        height: 390px;
    }
    .register{
        font-size: 25px;
        text-decoration: none;
        color: var(--second);
        background: linear-gradient(91.3deg, rgb(2, 41, 86) 1.5%, rgb(19, 48, 142) 100.3%);
        padding: 5px;
        border: 2px solid var(--fourth);
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 200px;
        margin-top: 25px;
        box-shadow: 6px 8px 20px var(--fourth)
        
    }
    .register:hover{
        background: linear-gradient(91.3deg, rgb(14, 48, 86) 1.5%, rgb(42, 78, 198) 100.3%);
        color: var(--second);
    }
}

/*search section*/
.search-bar{
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    position: relative;
    margin-left: 30%;
    margin-top: 50px;
    width: 30%;
    border: solid var(--second) 2px;
    border-radius: 4px;
}
.search-btn{
padding: 6px 20px;
background: transparent;
border: var(--first) solid 2px;
color: var(--first);
border-radius: 5px;
font-size: 18px;
}

.search-btn:hover{
    border-color: var(--third);
    color: var(--third);
}
footer{
    background-color: transparent;
    height: 40px;
    margin-top: 80px;
    padding-left: 20px;
    padding-bottom: 20px;
    color: #F9F7F7;
}
nav{
    height: 50px;
    background-color: transparent;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
header nav ul li{
    padding: 15px 15px; 
    font-weight: lighter;
    font-size: 20px;
    right: 40px;
}
header a{
    color: var(--fourth);
    text-decoration: none;
    font-family: 'Quicksand';
    font-weight: normal;
}
header a:hover{
    color: var(--second);
}
header h1{
    color: var(--fourth);
    font-weight: bold;
    font-size: 36px;
    margin-right: 83%;
    padding: 5px;
    position: absolute;
    right: 40px;
}
.cards{
    background: linear-gradient(67.6deg, rgb(154, 224, 237) 2.8%, rgb(34, 26, 177) 120.4%);
    height: 680px;
    width: 580px;
    position: relative;
    margin-left: 35%;
    margin-top: 2%;
    border: none;
    border-radius: 25px;
    text-align: center;
    color: var(--second);
    box-shadow: 20px 15px 30px 3px var(--fourth);
}
.divider{
    height: 2px;
    width: 70%;
    background-color: var(--fourth);
    position: relative;
    margin-left: 15%;
    margin-top: 4%;
}
.card-title{
    margin-top: 8%;
    font-size: 35px;
}
.cards p{
    font-size: 18px;
}
.book-cov{
    height: 40%;
    width: 45%;
    background-color: #112D4E;
    position: relative;
    left: 28%;
    top: 5%;
}

.description{
    margin-top: 5%;
    max-width: 90%;
    text-align: center;
    position: absolute;
    margin-left: 5%;
    line-height: 1.4;
}
.checked {
    margin-top: 2%;
    color: orange;
  }
  
 .checkmark, .done-checkmark{
    position: absolute;
    right: 83%;
    top: 15%;
 }
 .done-checkmark{
    display: none;
 }
 .heart{
    position: absolute;
    right: 8%;
    top: 15%;
 }
 .done-heart{
    position: absolute;
    right: 7.5%;
    top: 14.5%;
    display: none;

 }
 /*MY BOOKS SECTION*/
 .addbooks,
 .books-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--fourth);
    text-align: center;
    margin-top: 2%;
 }
 .books-list ul li{
    list-style: none;
 }
 .books{
    background: linear-gradient(112.4deg, rgb(174, 196, 225) 44.9%, rgb(135, 197, 235) 94.5%);
    height: 150px;
    width: 500px;
    border: none;
    border-radius: 15px;
    margin-top: 2%;
    border-left: solid 7px var(--second);
    text-align: left;
    padding-left: 45px;
 }
 .books:hover{
    border-left: solid 7px #1c406a;
    transition: .5s ease-in-out;
 }
 .book-title{
    position: relative;
    padding-top: 8%;
    font-size: 30px;
 }
.books-list h2{
    position: relative;
    font-size: 35px;
    border-bottom: #112D4E solid 2px;
    padding: 5px;
    width: 250px;
    margin-left: 10px;
    color: var(--fourth);
    text-align: left;
}
.books img{
    height: 140px;
    position: relative;
    left: 220px;
    bottom: 45px;
    border: none;
    border-radius: 15px; 
}

.addbooksbtn {
    padding-inline: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Segoe UI;
}

.addbooksbtn:hover {
    background-color: #3F72AF;
}

.listoutput {
    background-color: #DBE2EF;
    text-align:center;
}

.searcharea {
    display: block;
}


.card-img {
    display: flex;
    border: solid #3F72AF;
    max-width: fit-content;
    display: inline-flex;
    margin: auto 5px;
    float: left;
}

